%h1=@poll.title

/ Nav tabs
%ul.nav.nav-tabs
  %li.active
    =link_to "Questions", "#tab-questions", data: { toggle: "tab" }
  %li
    =link_to "Replies", "#tab-replies", data: { toggle: "tab" }
  %li
    =link_to "Stats", "#tab-stats", data: { toggle: "tab" }
  %li
    =link_to "Results Sheet", "#tab-results", data: { toggle: "tab" }

.tab-content
  #tab-questions.tab-pane.active
    %h2 Questions

    %ul
      -@poll.questions.each do |question|
        %li
          %strong=question.title
          =link_to '[Drop]', poll_question_path(@poll, question), method: :delete, class: "btn-xs btn-default" if admin?
          %ul
            -question.possible_answers.each do |possible_answer|
              -if possible_answer.check?
                %li
                  %span{:class => 'glyphicon glyphicon-ok-circle' }
                  =possible_answer.title
              -else
                %li=possible_answer.title  
              

    %p.btn-group
      = link_to 'Edit', edit_poll_path(@poll), class: "btn btn-default" if admin?
      = link_to 'Back', polls_path, class: "btn btn-default" if admin?
      = link_to 'Add question', new_poll_question_path(@poll), class: "btn btn-default" if admin?

  #tab-replies.tab-pane
    %h2 Replies

    -@poll.replies.each do |reply|
      .col-md-6
        .panel.panel-default
          .panel-heading.text-right
            =time_ago_in_words reply.created_at
          .panel-body
            %dl
              -reply.answers.each do |answer|
                %dt=answer.question.try(:title)
                %dd
                  =answer.value.present? ? answer.value : (answer.possible_answer.nil? ? 'No Answer' : answer.possible_answer.try(:title))

  #tab-stats.tab-pane
    =render "stats"
    
  #tab-results.tab-pane
    %h2 Results
    
    %span=@result

    -@poll.questions.each do |question|
      %strong=question.title
      
      .progress
        .progress-bar{"role" => "progressbar", "aria-valuenow" => "10", "aria-valuemin" => "0", "aria-valuemax" => "100",
        "style" => "text-align:right; width:" + (question.answers.joins(:possible_answer).select {|r| r.possible_answer.check}.size.to_f / question.answers.count.to_f * 100).to_s + "%;"}
          =question.answers.joins(:possible_answer).select {|r| r.possible_answer.check}.size
          of
          =question.answers.count
          Correct answers .